.p_cantidad{
    font-size: 20px;
    font-weight: bold;
}

.btn_plus{
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 13px;
    margin: 5px;
    text-decoration: none;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 4px 5px #666666;
    -moz-box-shadow: 0px 4px 5px #666666;
    box-shadow: 0px 4px 5px #666666;
    text-shadow: 1px 2px 0px #666666;
    border: solid #735896 2px;
    background: #594474;
}
.btn_plus:hover {
    background: #735896;
  }
.btn_minus{
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 13px;
    margin: 5px;
    text-decoration: none;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 4px 5px #666666;
    -moz-box-shadow: 0px 4px 5px #666666;
    box-shadow: 0px 4px 5px #666666;
    text-shadow: 1px 2px 0px #666666;
    border: solid #735896 2px;
    background: #594474;
}
.btn_minus:hover {
    background: #735896;
  }


.btn_add {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 13px;
    margin: 5px;
    text-decoration: none;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 5px #666666;
    -moz-box-shadow: 0px 4px 5px #666666;
    box-shadow: 0px 4px 5px #666666;
    text-shadow: 1px 2px 0px #666666;
    border: solid #735896 2px;
    background: #594474;
  }
.btn_add:hover {
    background: #735896;
  }

.div_count{
    margin-top: 10px;
    display: inline-block;
  
}